body {
    font-family: 'Roboto','Arial', sans-serif;
    color: #212121;
    background-color: #E5E5E5; 
    }
    /* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
    
     .logo-web {
        font-family: 'Raleway';
        color: #2196F3;
     }

     .nav-list {
       color: #212121; 
     }
     .nav-list:hover {
        color: #2196F3
     }

     .logo-studio {
        font-family: 'Raleway';
        color: black;
     }

     .big-title {
         color: aquamarine;
     }